<head>
  <title>The Sprint God</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <h1 id="charlie" class="ion">The Sprint God!</h1>
</head>
<body>
  <div class="ion">Round Zero: Vigenére Cipher</div>
  <div class="ion">/wwgkmvzhicuqwfvt</div>
  <div class="ion">Solve the cipher, solve the clue and the next part is up to you.</div>
  <div class="ion">Yes, and we all know how to play, so recall an event and it's name.</div>
  <div class="ion">Eight letters.</div>
  <div id="special1" class="ion">Stumped? Well, get ready for a trade.</div>
</body>
