/* #id .class */


/*charlie*/
#charlie {
  color: #e7be37;
}
.charlie {
  color: yellow;
}

#main {
  font-weight: bold;
}
/*liv*/

/*aspen*/

/*cole*/


.tested {
  font-family: cursive;
}
#tester {
  font-family: monospace;
}
